<%- include header.ejs %>
<div class="container">
  <div class="jumbotron">
      <h1><%= message %></h1>

  </div>
  <!-- Full Width Image Header with Logo -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->
<header class="image-bg-fluid-height">
    <img class="img-responsive img-center" src="images/alu_logo_face.png" alt="">
</header>

<!-- Content Section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-heading"><%- message2 %></h1>
                <p class="lead section-lead">Please head back to the <a href="/">home page</a></p>
        </div>
    </div>
</section>
</div>
<%- include footer.ejs %>
