<%- include header.ejs %>
	<div class="container">
		<div class="jumbotron">
		<h1>ALU Email Maker</h1>
		</div>
				<form class="form-sign-in" id="email_form" action="http://localhost:3000/" method="POST">
					<div class="form-group has-feedback row col-sm-12" id="oldemailgroup">
						<label for="oldEmail" class="col-sm-12 control-label">Personal Email:</label>
							<input type="email" class="form-control col-sm-12" id="oldEmail" name="oldEmail" placeholder="Enter your personal email address">
						<span id="oldemailspan"></span>
					</div>
					<div class="form-group has-feedback row col-sm-12" id="fnamegroup">
						<label for="fName" class="col-sm-12 control-label">First Name:</label>
							<input type="text" class="form-control col-sm-12" name="fName" id="fName" placeholder="Your first name"><span id="fnamespan"></span>
					</div>
					<div class="form-group has-feedback row col-sm-12" id="lnamegroup">
						<label for="lName" class="col-sm-12 control-label">Last Name:</label>
							<input type="text" class="form-control col-sm-12" id="lName" name="lName" placeholder="Your last name"><span id="lnamespan"></span>
					</div>
					<div class="form-group has-feedback row col-sm-12" id="useremailgroup">
						<label for="userEmail" class="col-sm-12 control-label">Desired Email:</label>
						<div class="input-group">
							<input type="text" class="form-control col-sm-12" id="userEmail" name="userEmail" placeholder="Desired ALU email" aria-describedby="basic-addon2">
							<span class="input-group-addon" id="basic-addon2">@student.alu.edu</span>
						</div>
						<span id="useremailspan"></span>
					</div>
					<div class="form-group has-feedback row col-sm-12" id="passwordgroup">
						<label for="userPassword" class="col-sm-12 control-label">Password:</label>
							<input type="password" class="form-control col-sm-12" id="userPassword" name="userPassword" placeholder="Password must have 1 uppercase alphabet, 1 lowercase alphabet, 1 digits and 1 special character. Also the minimum allowed length is 8 characters."><span id="passwordspan"></span>
					</div>
					<div class="form-group has-feedback row col-sm-12" id="passwordconfirmgroup">
						<label for="userPasswordConfirm" class="col-sm-12 control-label">Confirm Password:</label>
							<input type="password" class="form-control col-sm-12" id="userPasswordConfirm" name="userPasswordConfirm" placeholder="Retype password."><span id="passwordconfirmspan"></span>
					</div>
					<div class="form-group row col-sm-12">
							<button type="submit" id="submit" class="btn btn-lg btn-default">Make My Email!!</button>
					</div>
				</form>
	</div>
<%- include footer.ejs %>
