<%- include header.ejs %>
	<div class="container">
		<h1 class="col-sm-6 col-sm-offset-3">ALU Email Maker</h1>
		<div class="row col-sm-12">
				<form class="form-sign-in" id="email_form" action="http://localhost:3000/" method="POST">
					<div class="form-group has-feedback" id="oldemailgroup">
						<label for="oldEmail" class="col-sm-2 control-label">Personal Email:</label>
						<div class="col-sm-12">
							<input type="email" class="form-control" id="oldEmail" name="oldEmail" placeholder="Enter your personal email address">
							<span id="oldemailspan"></span>
						</div>
					</div>
					<div class="form-group has-feedback" id="fnamegroup">
						<label for="fName" class="col-sm-2 control-label">First Name:</label>
						<div class="col-sm-12">
							<input type="text" class="form-control" name="fName" id="fName" placeholder="Your first name"><span id="fnamespan"></span>
						</div>
					</div>
					<div class="form-group has-feedback" id="lnamegroup">
						<label for="lName" class="col-sm-2 control-label">Last Name:</label>
						<div class="col-sm-12">
							<input type="text" class="form-control" id="lName" name="lName" placeholder="Your last name"><span id="lnamespan"></span>
						</div>
					</div>
					<div class="form-group has-feedback" id="useremailgroup">
						<label for="userEmail" class="col-sm-2 control-label">Desired Email:</label>
						<div class="col-sm-12 input-group">
							<input type="email" class="form-control" id="userEmail" name="userEmail" placeholder="Desired ALU email" aria-describedby="basic-addon2">
							<span class="input-group-addon" id="basic-addon2">@student.alu.edu</span>
						</div>
						<span id="useremailspan"></span>
					</div>
					<div class="form-group has-feedback" id="passwordgroup">
						<label for="userPassword" class="col-sm-2 control-label">Password:</label>
						<div class="col-sm-12">
							<input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="Password must have 1 uppercase alphabet, 1 lowercase alphabet, 1 digits and 1 special character. Also the minimum allowed length is 8 characters."><span id="passwordspan"></span>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" id="submit" class="btn btn-lg btn-default">Make My Email!!</button>
						</div>
					</div>
				</form>
		</div>
	</div>
<%- include footer.ejs %>
